.technologies-title {
    margin-top: auto;
    line-height: 1;
}

.technologies-flex {
    /* background: #F3F5F7; */
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.technologies-flex .technologies-content {
    padding: 0px 20px;
}

.technologies-flex .technologies-content:last-child {
    padding-right: 0;
}

.technologies-flex .technologies-content:first-child {
    padding-left: 0;
}

.technologies-content {
    position: relative;
}

.technologies-content::after {
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #D8DADC;
    content: "";
}

.technologies-flex .technologies-content:last-child::after {
    content: unset;
}