.js-timeline {
  position: relative;
  padding-top: 10rem;
  overflow: hidden;
}

.js-timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.js-tl-row {
  display: flex;
  align-items: flex-start;
  margin-top: -10rem;
}

.tl-row-even {
  flex-direction: row-reverse;
}

.js-tl-item {
  flex: 1 0 50%;
  max-width: 50%;
}

.js-tl-item h4 {
  padding: 3rem 4.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
  font-weight: 500;
}

.js-tl-item p {
  padding: 3.6rem 4.5rem;
  margin-bottom: 0;
  color: rgba(94, 98, 102, 1);
}

.tl-row-odd h4,
.tl-row-odd p {
  padding-left: 0;
}

.tl-row-even h4,
.tl-row-even p {
  padding-right: 0;
}

.tl-row-odd .js-tl-item {
  padding-left: 4.5rem;
}

.tl-row-even .js-tl-item {
  padding-right: 4.5rem;
}

@media (max-width:1199px) {

  .process-ils {
    max-width: 215px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

}

@media (max-width:575px) {
  .js-tl-item {
    flex: 1;
    max-width: 100%;
  }

  .js-timeline::before {
    left: 0;
  }

  .tl-row-even .js-tl-item {
    padding-right: 0;
    padding-left: 4.5rem;
  }

  .tl-row-odd h4,
  .tl-row-odd p {
    padding-left: 0;
    padding-right: 0;
  }

  .tl-row-even h4,
  .tl-row-even p {
    padding-right: 0;
    padding-left: 0;
  }

  .js-tl-row {
    margin-top: 0;
  }

  .js-tl-item h4 {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 0;
    padding-top: 20px;
    padding-bottom: 8px;
    font-size: 20px;
  }

  .js-tl-item p {
    padding-top: 0;
  }

  .js-timeline .js-tl-row:last-child .js-tl-item p {
    padding-bottom: 0;
  }

  .process-ils {
    margin-bottom: 0;
  }

  .js-timeline {
    padding-top: 32px;
  }
}