.footer-bottom {
    background: rgba(186, 194, 204, 0.4)
}

.logo-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    max-width: 196px;
}

.logo-bottom img {
    max-width: 100%;
    object-fit: contain;
}

footer .social-links,
footer .social-icons {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer .social-link {
    color: #5E6266;
    transition: 0.3s all;
    text-decoration: underline;
}

footer .social-link.active {
    color: #5E6266;
}

footer .social-link:hover {
    color: #558AFB;
    text-decoration: none;
}

footer .social-links li {
    margin-bottom: 3rem;
    line-height: 1;
}

footer .social-links li:last-child {
    margin-bottom: 0;
}

footer .quick-links .social-link {
    text-decoration: none;
}


.social-icons .social-icon {
    min-width: 5rem;
    min-height: 5rem;
    border-radius: 50%;
    background-color: #DCDFE3;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #525354;
    border: 1px solid;
    border-color: #DCDFE3;
    transition: 0.3s all;
}

.social-icons .social-icon:hover {
    border-color: #525354;
}

.social-icons li {
    margin-right: 5rem;
}

.social-icons li:last-child {
    margin-right: 0;
}

/* .footer-top-flex {
    max-width: 124.4rem;
} */

/* Responsive Media query */
@media (max-width:1365px) {
    .social-icons .social-icon {
        min-width: 40px;
        min-height: 40px;
    }
}

@media (max-width:1365px) {
    .footer-top-flex h6 {
        font-size: 18px;
    }
}

@media (max-width:767px) {
    .footer-top-flex {
        flex-wrap: wrap;
    }

    .footer-top-flex>div {
        width: calc(100% / 2);
        margin-bottom: 15px;
    }

    .footer-top-flex .links-wrap {
        width: auto;
        margin-left: auto;
    }
}

@media (max-width:575px) {
    .footer-top-flex>div {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer-top-flex .links-wrap {
        width: 100%;
        margin-left: unset;
    }

    .logo-bottom {
        margin: 0 auto;
    }

    footer .p-xxs {
        font-size: 10px;
    }
}