.blog-card-grid {
    display: grid;
    gap: 6.5rem 3rem;
    grid-template-columns: repeat(3, 1fr)
}

.blog-card-body {
    padding-bottom: 2.4rem;
}

.blog-card-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 2.4rem;
}

.blog-img-wrapper {
    position: relative;
    padding-bottom: 75%;
}

.blog-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.blog-card-user {
    min-width: 4.7rem;
    min-height: 4.7rem;
    max-width: 4.7rem;
    max-height: 4.7rem;
    border-radius: 50%;
}

.blog-card-user img {
    object-fit: contain;
    max-width: 100%;
}

.blog-date {
    position: relative;
    padding-left: 10px;
    margin-left: 8px;
}

.blog-date::after {
    content: "";
    position: absolute;
    min-width: 4px;
    min-height: 4px;
    border-radius: 50%;
    left: 0;
    top: 50%;
    transform: translateX(-50%);
    background-color: var(--color-offgray);
}

.out-team-hero-img {
    position: relative;
    padding-bottom: 40%;
    width: 80%;
    margin: 0px auto;
    text-align: center;
}

.out-team-hero-img img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-heading {
    margin-bottom: 10rem;
}

.core-team-wrapper {
    background-color: #233050;
    padding: 20px;
}

.core-team-img-container {
    height: 32rem;
}

.core-team-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.our-team-about-content-flex .our-team-about-content {
    margin-bottom: 8rem;
}

.our-team-about-content-flex .our-team-about-content:last-child {
    margin-bottom: 0;
}

.our-team-about-content-flex {
    padding-left: 7rem;
}

.our-team-about-container {
    position: relative;
    padding-bottom: 160%;
}

.our-team-about-container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.our-team-img-col [class^="col-"],
.our-team-img-col [class*=" col-"] {
    padding-left: 18px;
    padding-right: 18px;
}

.our-team-img-col .row {
    margin-left: -18px;
    margin-right: -18px;
}

.our-team-about-spacing {
    padding-top: 7.5rem;
}

.our-team-about-gap {
    gap: 9.3rem;
}

/* OUR CLIENT START */
.client-container-wrap {
    overflow: hidden;
}

.client-container-inner {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: -1px -1px 0 1px;
}

.client-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7.5rem 6.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.client-wrap:last-child {
    border-right: 0;
}

.client-wrap img {
    max-width: 100%;
    object-fit: contain;
}

/* OUR CLIENT END */

/* TESTIMONIAL START */
.testimonial h2 {
    line-height: 1.3;
    margin-bottom: 9.4rem;
}

.testimonial-container-wrap {
    overflow: hidden;
}

.testimonial-container-inner {
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    column-count: 3;
    column-gap: 0px;
    margin: -1px -1px 0 0;
    column-rule: 1px solid rgba(0, 0, 0, 0.1);
}

.about-testimonial-card {
    display: inline-block;
    padding: 5.6rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    /* border-right: 1px solid rgba(0, 0, 0, 0.1); */
}

.testimonial-profile-wrap {
    display: flex;
    align-items: center;
}

.testimonial-quote {
    display: block;
    margin-bottom: 2.8rem;
    line-height: 1;
}

.testimonial-des {
    color: var(--color-offgray);
    margin-bottom: 3.8rem;
}

.testimonial-profile-img {
    width: 58px;
    height: 58px;
    margin-right: 20px;
}

.testimonial-profile-img img {
    width: inherit;
    height: inherit;
    object-fit: contain;
}

.testimonial-designation {
    line-height: 1.3;
}

/* TESTIMONIAL END */


.app-development-heading {
    min-width: 22.2rem;
    max-width: 22.2rem;
    padding: 10px;
}

.technologies-flex {
    flex-wrap: wrap;
    gap: 20px 0;
}

.tech-stack-flex .technologies-flex {
    padding: 5rem 7rem 5rem 10rem;
    max-width: 100%;
}

.tech-stack-technologies-lists {
    position: relative;
}

.tech-stack-technologies-lists.technologies-border-bottom {
    border-bottom: 0 !important;
}

.tech-stack-technologies-lists::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% - 70px);
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    content: "";
}

.tech-stack-content {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.text-stack-main-title {
    max-width: 94.5rem;
    margin: 0px auto;
    text-align: center;
}

.text-stack-main-sub-title {
    max-width: 82.6rem;
    margin: 0px auto;
    text-align: center;
}

.text-stack-title-wrapper {
    margin-bottom: 9rem;
}

.tech-stack-content .technologies-flex .technologies-content {
    padding: 0px 8px;
    min-width: 13.9rem;
    max-width: 13.9rem;
    text-align: center;
}

.tech-stack-content .technologies-flex .technologies-content:first-child {
    padding-left: 0;
}

.tech-stack-technologies-lists {
    width: 100%;
    /* max-width: calc(100% - 100px - 222px); */
}

.tech-stack-technologies-lists img {
    max-width: 10rem;
    object-fit: contain;
}

.tech-stack-technologies-lists .technologies-title {
    font-size: 20px;
}

.technologies-border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.development-scrum-img-container {
    min-width: 44rem;
    max-width: 44rem;
}

.development-scrum-img-container img {
    width: 100%;
    object-fit: contain;
}

.development-scrum-flex {
    display: flex;
    gap: 8rem;
}

.give-face-app-flex {
    gap: 33.3rem;
}

.give-face-app-img {
    max-width: 56.3rem;
    width: 100%;
}

.give-face-app-img img {
    width: 100%;
    object-fit: contain;
}

.give-face-app-description {
    line-height: 1.7 !important;
}

.development-scrum-title {
    max-width: 80rem;
}

.development-scrum-sub-title {
    max-width: 116rem;
    margin: 0px auto;
}

.development-scrum-title-wrapper {
    margin-bottom: 8rem;
}

.ready-to-deliver-tab-wrapper.js-primary-tab .nav-pills .nav-link.active,
.ready-to-deliver-tab-wrapper.js-primary-tab .nav-pills .show>.nav-link {
    color: #081827;
    background-color: transparent;
}

.ready-to-deliver-tab-wrapper.js-primary-tab .nav-pills .nav-link {
    padding: 10px 10px;
    font-size: 3.6rem;
}

.ready-to-deliver-tab-wrapper.js-primary-tab .nav-pills .nav-link::after {
    height: 6px;
    background-color: #5386F4;
    width: 100%;
}

.ready-to-deliver-tab-wrapper.js-primary-tab .nav-pills .nav-item {
    margin-right: 4rem;
}

.ready-to-deliver-tab-wrapper.js-primary-tab .nav-pills .nav-item:last-child {
    margin-right: 0;
}

/* style added by AVN */

/* OUR PARTENERS START */
.our-clients-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.our-clients-wrap>div {
    width: calc(100% / 3);
    padding: 20px;
}

.our-clients-item-box {
    background: rgba(94, 94, 94, 0.16);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    min-height: 28.4rem;
    padding: 20px;
}

.our-clients-item-box img {
    object-fit: contain;
    max-width: 100%;
    display: block;
    opacity: 0.5;
    transition: 0.3s all;
    width: auto;
    max-width: 100%;
}

/* OUR PARTENERS START */

/* MISSION SECTION  START */
.mission-content-wrap {
    margin: 0 auto;
    max-width: 102rem;
}

.mission-card-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4.8rem;
}

.mission-card {
    padding: 5rem 5rem 7.4rem;
    overflow: hidden;
}

.mission-card.green {
    background-color: #578928;
}

.mission-card.purple {
    background-color: #6D597A;
}

.mission-card-header-title {
    padding-bottom: 28px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.14);
}

.mission-card-icon {
    background-color: var(--color-white);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 10px;
    margin-right: 30px;
}

.mission-card-img {
    position: absolute;
    right: 0;
    bottom: -10rem;
    width: 100%;
    max-width: 21.5rem;
    z-index: 2;
    object-fit: contain;
}

.mission-card::after {
    content: "";
    position: absolute;
    width: 29.7rem;
    height: 29.7rem;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.mission-card.green::after {
    background: #9BAD2B;
    opacity: 0.8;
    filter: blur(150px);
}

.mission-card p {
    position: relative;
    z-index: 3;
}

.mission-card.purple::after {
    background: #C58DEA;
    opacity: 0.8;
    filter: blur(150px);
}

/* MISSION SECTION  END  */

/* WHO WE ARE SECTION START */
.who-we-are-content-wrap {
    max-width: calc(100% - 69.4rem);
    margin-right: 9.8rem;
}

.who-we-are-img-wrap {
    position: relative;
    max-width: 69.4rem;
    width: 100%;
    height: 100%;
    padding-bottom: 39.1%;
}

.who-we-are-img-wrap img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.who-we-are-content-wrap p {
    margin-bottom: 5.6rem;
}

.who-we-are-container {
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #F3F5F7;
    padding: 24px;
}

.who-we-are-container-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.who-we-are-card-wrap:nth-child(1),
.who-we-are-card-wrap:nth-child(2),
.who-we-are-card-wrap:nth-child(3) {
    border-top: 0;
}

.who-we-are-card-wrap:nth-child(6),
.who-we-are-card-wrap:nth-child(3) {
    border-right: 0;
}

.who-we-are-card-wrap {
    display: flex;
    /* align-items: center; */
    justify-content: start;
    flex-direction: column;
    padding: 3.8rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.number-wrap {
    font-size: 3.4rem;
    line-height: 1.2;
    margin-bottom: 14px;
}

.label-title-wrap {
    line-height: 1.3;
}

/* WHO WE ARE SECTION END */
.launch-img-container {
    max-width: 38rem;
    min-width: 38rem;
}

.launch-img-container img {
    max-width: 100%;
    object-fit: contain;
}

.launch-flex {
    gap: 10rem;
}

.ready-to-deliver-tab-wrapper.js-primary-tab .tab-content>.tab-pane {
    color: #5E6266;
    font-size: 20px;
    font-weight: 400;
}

.ready-to-deliver-tab-wrapper.js-primary-tab .tab-content {
    padding: 2.4rem 0;
}

.blog-input-row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 5.5rem;
    padding-bottom: 3.2rem;
}

@media (max-width: 1799px) {

    .tech-stack-technologies-lists .technologies-title {
        font-size: 16px;
    }

}

@media (max-width: 1699px) {

    .tech-stack-technologies-lists .technologies-title {
        font-size: 14px;
    }

    .blog-card-body h5 {
        font-size: 22px;
    }
}

@media (max-width: 1429px) {
    .client-container-inner {
        grid-template-columns: repeat(4, 1fr);
    }

    .testimonial-profile-img {
        width: 48px;
        height: 48px;
    }

    .tech-stack-technologies-lists .technologies-title {
        font-size: 12px;
    }

}

@media (max-width:1365px) {
    .who-we-are-content-wrap {
        max-width: calc(100% - 80rem);
    }

    .who-we-are-img-wrap {
        max-width: 80rem;
    }

    .mission-card-icon {
        width: 50px;
        height: 50px;
        margin-right: 20px;
    }

    .mission-card-icon img {
        width: 30px;
        height: 30px;
    }

    .mission-card .h3.small {
        font-size: 20px;
    }

    .mission-card-header-title {
        padding-bottom: 18px;
    }

    .tech-stack-flex .technologies-flex {
        padding: 25px 20px;
    }

    .blog-card-body h5 {
        font-size: 20px;
    }

    .blog-card-body .p-sm {
        font-size: 14px;
    }
}

@media (max-width:1199px) {
    .our-team-about-spacing {
        padding-top: 25px;
    }

    .our-team-about-content-flex {
        padding-left: 10px;
    }

    .our-team-img-col [class^="col-"],
    .our-team-img-col [class*=" col-"] {
        padding-left: 6px;
        padding-right: 6px;
    }

    .our-team-img-col .row {
        margin-left: -6px;
        margin-right: -6px;
    }

    .client-container-inner {
        grid-template-columns: repeat(3, 1fr);
    }

    .give-face-app-flex {
        gap: 50px;
    }

    .blog-card-body h5 {
        font-size: 18px;
    }
}

@media (max-width:991px) {
    .blog-card-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .our-team-about-img-wrapper {
        max-width: 300px;
        min-width: 300px;
        width: 100%;
    }

    .our-team-about-spacing {
        padding-top: 0px;
    }

    .our-team-about-content {
        padding-left: 30px;
    }

    .our-team-about-content .custom-text-circle {
        padding-left: 0;
        margin-left: 0;
    }

    .our-team-about-content .custom-text-circle::after {
        content: unset;
        display: none;
    }

    .our-team-about-img-wrapper {
        max-width: 230px;
        min-width: 230px;
    }

    .client-wrap {
        padding: 5.5rem 4.5rem;
    }

    .who-we-are-img-wrap {
        max-width: 100%;
        padding-bottom: 60%;
    }

    .who-we-are-content-wrap {
        max-width: 100%;
        margin-right: 0;
        padding-top: 15px;
    }

    .our-clients-wrap>div {
        padding: 15px;
    }

    .number-wrap {
        font-size: 20px;
    }

    .app-development-heading {
        min-width: 150px;
        max-width: 150px;
    }

    .tech-stack-technologies-lists::after {
        width: calc(100% - 20px);
    }

    .give-face-app-flex {
        flex-direction: column;
        gap: 50px 0;
    }

    .give-face-app-img {
        max-width: 100%;
    }

    .give-face-app-img img {
        max-width: 40rem;
        object-fit: contain;
    }

    .testimonial-container-inner {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    .launch-flex {
        flex-direction: column;
    }

    .launch-img-container {
        max-width: 300px;
        min-width: 300px;
        margin: 0px auto;
    }
}

@media (max-width:767px) {
    .mission-card-box {
        grid-template-columns: repeat(1, 1fr);
    }

    .our-clients-wrap>div {
        width: calc(100% / 2);
    }

    .our-clients-item-box {
        min-height: 170px;
        padding: 15px;
    }

    .mission-content-wrap {
        max-width: 100%;
    }

    .testimonial-quote svg {
        width: 31px;
        height: 20px;
    }

    .testimonial-profile-img {
        width: 38px;
        height: 38px;
        margin-right: 10px;
    }

    .tech-stack-content .technologies-flex .technologies-content {
        min-width: unset;
        max-width: 33.33%;
        width: 33.33%;
    }

    .technologies-content img,
    .tech-stack-technologies-lists img {
        max-width: 35px;
    }

    .technologies-title {
        font-size: 12px !important;
    }

    .testimonial-quote svg {
        width: 31px;
        height: 20px;
    }

    .testimonial-profile-img {
        width: 38px;
        height: 38px;
        margin-right: 10px;
    }

    .blog-card-user {
        min-width: 30px;
        min-height: 30px;
        max-width: 30px;
        max-height: 30px;
    }

    .blog-date {
        margin-top: 4px;
        padding-left: 0px;
        margin-left: 0px;
    }

    .blog-date::after {
        display: none;
    }

    .blog-card {
        display: flex;
        flex-direction: column;
    }

    .blog-card-footer {
        flex-wrap: wrap;
        margin-top: auto;
    }
}

@media (max-width:575px) {
    .blog-card-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .our-team-about-content {
        padding-left: 0px;
    }

    .client-container-inner {
        grid-template-columns: repeat(2, 1fr);
    }

    .who-we-are-container {
        padding: 15px;
    }

    .who-we-are-container-inner {
        grid-template-columns: repeat(2, 1fr);
    }

    .who-we-are-card-wrap:nth-child(3) {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    .who-we-are-card-wrap:nth-child(2),
    .who-we-are-card-wrap:nth-child(4) {
        border-right: 0;
    }

    .number-wrap {
        margin-bottom: 10px;
    }

    .who-we-are-card-wrap {
        padding: 20px;
    }

    .testimonial-container-inner {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .tech-stack-flex {
        flex-direction: column;
    }

    .app-development-heading {
        min-width: unset;
        max-width: 100%;
    }


    .development-scrum-flex {
        flex-direction: column;
        gap: 30px 0;
    }

    .development-scrum-img-container {
        margin: 0px auto;
    }

}

@media (max-width: 480px) {
    .client-container-inner {
        grid-template-columns: repeat(1, 1fr);
    }

    .our-clients-wrap>div {
        width: calc(100% / 1);
    }

    .development-scrum-img-container {
        max-width: 300px;
    }
}

@media (max-width:380px) {
    .our-team-about-img-wrapper {
        max-width: 100%;
        min-width: 100%;
    }
}

@media (max-width:350px) {
    .who-we-are-card-wrap {
        padding: 15px;
    }

    .development-scrum-img-container {
        max-width: 100%;
    }
}